<div class="container">
    <div class="row no-gutters">
        <div class="col-md-4  col-xs-12 text-center showhim">
            <img src="assets/d1.jpeg" height="240">
            <div class="d-flex justify-content-center m-0">
                <div type="button" class="my-1 font-style border-style p-1 w-75 showme">VIEW DETAILS</div>
            </div>
            <div class="font font-family-Plantin">
                <div class="font-style-14">
                    <p class="m-0"><i>Angel Dear</i></p>
                    <p class="m-0">Ruffle Dress, Magnolias</p>
                </div>
                <p class="m-0 font-style">$38.00</p>
            </div>
        </div>
        <div class="col-md-4  col-xs-12 text-center showhim">
            <img src="assets/d2.jpeg" height="240">
            <div class="d-flex justify-content-center m-0">
                <div type="button" class="my-1 font-style border-style p-1 w-75 showme">VIEW DETAILS</div>
            </div>
            <div class="font font-family-Plantin">
                <div class="font-style-14">
                    <p class="m-0"><i>Angel Dear</i></p>
                    <p class="m-0">Ruffle Dress, Magnolias</p>
                </div>
                <p class="m-0 font-style">$38.00</p>
            </div>
        </div>
        <div class="col-md-4  col-xs-12 text-center showhim">
            <img src="assets/d3.jpeg" height="240px">
            <div class="d-flex justify-content-center m-0">
                <div type="button" class="my-1 font-style border-style p-1 w-75 showme">VIEW DETAILS</div>
            </div>
            <div class="font font-family-Plantin">
                <div class="font-style-14">
                    <p class="m-0"><i>Angel Dear</i></p>
                    <p class="m-0">Ruffle Dress, Magnolias</p>
                </div>
                <p class="m-0 font-style">$38.00</p>
            </div>
        </div>
        <div class="col-md-4  col-xs-12 text-center showhim">
            <img src="assets/d4.jpeg" height="240">
            <div class="d-flex justify-content-center m-0">
                <div type="button" class="my-1 font-style border-style p-1 w-75 showme">VIEW DETAILS</div>
            </div>
            <div class="font font-family-Plantin">
                <div class="font-style-14">
                    <p class="m-0"><i>Angel Dear</i></p>
                    <p class="m-0">Ruffle Dress, Magnolias</p>
                </div>
                <p class="m-0 font-style">$38.00</p>
            </div>
        </div>
        <div class="col-md-4  col-xs-12 text-center showhim">
            <img src="assets/d5.jpeg" height="240">
            <div class="d-flex justify-content-center m-0">
                <div type="button" class="my-1 font-style border-style p-1 w-75 showme">VIEW DETAILS</div>
            </div>
            <div class="font font-family-Plantin">
                <div class="font-style-14">
                    <p class="m-0"><i>Angel Dear</i></p>
                    <p class="m-0">Ruffle Dress, Magnolias</p>
                </div>
                <p class="m-0 font-style">$38.00</p>
            </div>
        </div>
        <div class="col-md-4  col-xs-12 text-center showhim">
            <img src="assets/d6.jpeg" height="240px">
            <div class="d-flex justify-content-center m-0">
                <div type="button" class="my-1 font-style border-style p-1 w-75 showme">VIEW DETAILS</div>
            </div>
            <div class="font font-family-Plantin">
                <div class="font-style-14">
                    <p class="m-0"><i>Angel Dear</i></p>
                    <p class="m-0">Ruffle Dress, Magnolias</p>
                </div>
                <p class="m-0 font-style">$38.00</p>
            </div>
        </div>
    </div>
</div>