@import '../../../../styles.scss';

.top-footer-style{
    color: $textcolor-white;
    font-size: $fontsize-14;
    background-color: $bgcolor-blue;
    letter-spacing : $letter-spacing-10;
    font-family: $font-family-Walsheim;
}