$font-family-Walsheim: "GT Walsheim Pro Regular";
$font-family-Pressura: "GT Pressura";

$bgcolor-fadepink : #fcf8e8;
$bgcolor-blue:#3150a2;

$textcolor-blue:#3150a2;
$textcolor-white: white;

$fontsize-13: 13px;
$fontsize-14: 14px;

$letter-spacing-10 : 0.10em;
$letter-spacing-30 : 0.30em;

body{
    color: $textcolor-blue;
}